<nav class="bg-bd-background">
  <div class="max-w-8xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-30">
      <div class="flex-shrink-0">
        <img class=""
          width="250px"
          src="../../assets/images/logo-movie.png"
          alt="Your Company">
      </div>
      <div class="hidden sm:block sm:ml-4">
        <div class="flex space-x-2">
          <a href="#"
            class="text-bd-text-white-50 hover:text-white rounded-md px-3 py-2 text-lg font-medium">Início</a>
          <a href="#"
            class="text-bd-text-white-50 hover:text-white rounded-md px-3 py-2 text-lg font-medium">Séries</a>
          <a href="#"
            class="text-bd-text-white-50 hover:text-white rounded-md px-3 py-2 text-lg font-medium">Filmes</a>
          <a href="#"
            class="text-bd-text-white-50 hover:text-white rounded-md px-3 py-2 text-lg font-medium">Bombando</a>
        </div>
      </div>
      <div class="hidden sm:block mr-10">
        <a href="#" class="border border-red-500 text-bd-text-white-50 hover:bg-transparent hover:text-red-500 font-medium py-2 px-8 rounded-full transition-colors duration-300">Cadastre-se</a>
        <a href="#" class="border border-red-500 text-bd-text-white-50 hover:bg-transparent hover:text-red-500 font-medium py-2 px-8 rounded-full ml-4 transition-colors duration-300">Login</a>
      </div>
    </div>

  </div>
</nav>



