.movie-card{
    text-align: center;
    width: 250px;
    max-width: 500px;
    height: auto;
    background-image: radial-gradient(#700202, #310000, #000000);
    border-radius: 2%;
    padding: 5px;
}

.movie-poster{
    width:250px;
    max-width: 500px;
    height: auto;
    border-radius: 0 50% 0 50%;
    transition: transform 0.7s ease-in-out;
}

.movie-poster:hover{
    width: 300px;
    max-width: 500px;
    height: auto;
    border-radius: 0 10% 0 10%;
    box-shadow: 0 0 30px #ff0202;
    transform: translateY(-20px);
}

.movie-details{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    color:rgb(255, 233, 233);
    text-align: center;
}
