.movie-card{
    text-align: center;
    padding: 5px;
}

.movie-poster{
    width: 250px;
    max-width: 100%;
    height: auto;
    border-radius: 0 10% 0 10%;
    transition: transform 0.3s ease-in-out;
}

.movie-poster:hover {
    width: 300px;
    max-width: 100%;
    height: auto;
    border-radius: 10%;
    box-shadow: 0 0 30px #ff0202;
    transform: translateY(-20px); /* Adicionando um efeito de elevação ao passar o mouse */
}

.movie-details{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    color:aliceblue;
    text-align: center;
}
