.logo{
    margin: 0 auto;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--text-color);
    padding: 2rem 0;
}

span {
    text-transform: uppercase;
    color: var(--primary-color);
    font-weight: 700;
}